body {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}


body .card {
    background-color: hsl(0, 0%, 12%);
    padding:  50px;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
}

body .card .imagem {
    width: 25%;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: auto;
}

body .card .imagem img {
    width: 100%;
    display: block;
}