@font-face {
    font-family: 'Inter';
    src: url('../fonts/static/Inter-Regular.ttf');
    font-weight: 400;
}


body {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
}


body .card {
    background-color: hsl(0, 0%, 12%);
    padding:  50px;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
}

body .card .imagem {
    width: 35%;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: auto;
}

body .card .imagem img {
    width: 100%;
    display: block;
}


body .card h1 {

}
body .card h2 {
    color: hsl(75, 94%, 57%);
}
body .card p {
    
}